:root {
  --primary: #9c4478;
  --bubble: #3A82EE;
  --light: #EEE;
  --grey: #888;
  --dark: #24243e;
  --danger: #ef1714;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --bubble-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
}

*{
  box-sizing: border-box;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial
}


/* ------------ body ------------ */
body {
  background: var(--light);
  color: var(--dark);
  padding: 0; 
}

/* ------------ container ------------ */
.container {
  padding: 10px;
  width: 380px;
  margin: 0 auto;
}

/* ------------ header ------------ */
.header {
  width: 380px;
  height: 200px;
  padding: 10px;
  background-image: url('../img/pink\ sky.webp');
  background-size: 100% 200%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative;
}

/* ------------ date ------------ */
#date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #FFF;
  font-size: 25px;

}
/*-------------time---------------*/
span {
  color:white;
 
}

/* ------------ section ------------ */

section {
  padding: 10px;
  width: 380px;
  margin: 0 auto;
}

h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h4 {
  color: var(--grey);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* ------------ create-todo ------------ */
.create-todo input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark);
  background-color: #FFF;
  border-radius: 0.5rem;
 box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

/* ------------ bubble-button ------------ */
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--bubble);
  box-shadow: var(--bubble-glow);
}

.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--bubble);
  box-shadow: var(--bubble-glow);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

input:checked~.bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/* ------------ create labels and input ------------ */
.create-todo .options label div {
  color: var(--dark);
  font-size: 1.125rem;
  margin-top: 1rem;
}

.create-todo input[type="submit"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: #FFF;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: var(--personal-glow);
  cursor: pointer;
  transform: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
  opacity: 0.75;
}

/* ------------ todo-list ------------ */
.todo-list .list {
  margin: 1rem 0;
}

.todo-list .todo-item {
  display: flex;
  align-items: center;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
  width: 380px;
}

/* ------------ todo-item ------------ */
.todo-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.todo-item .todo-content {
  flex: 1 1 0%;
}

.todo-item .todo-content input {
  color: var(--dark);
  font-size: 1.125rem;
}

.todo-item .actions {
  display: flex;
  align-self: center;
}

.todo-item .actions button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #FFF;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
  opacity: 0. 75;
}

.todo-item .actions .edit {
  margin-right: 0.5rem;
  background-color: var(--primary);
}

.todo-item .actions .delete {
  background-color: var(--danger);
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: var(--grey);
}
  /* ------------ media queries------------ */
    /*code for mobile devices smaller than 600px*/
    body { background-color:white; }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
       body { background-color: white; }
    } 
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
       body { background-color: white; }
    } 
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
       body { background-color: white; }
    } 
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
       body { background-color:white; }
    }